body {
  margin: 0;
}

.navbar {
  text-size-adjust: 100%;
  font-feature-settings: 'tnum';
  font-family: Arial, sans-serif;
  color: #242e30;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-size-adjust: 100%;
  font-feature-settings: 'tnum';
  color: #242e30;
  font-weight: 400;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: inherit;
  background-color: #fff;
  position: relative;
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow:
    0 8px 8px 0 rgba(0, 0, 0, 0.04),
    0 8px 20px -3px rgba(0, 0, 0, 0.1),
    0 4px 8px -2px rgba(0, 0, 0, 0.06);
}
