body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header img {
  max-width: 100%;
  height: 40px;
}

.postcode-lookup {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postcode-lookup input {
  padding: 10px;
  margin-right: -4px;
  border: 2px solid #ff8000;
  border-right: none;
  font-size: 16px;
}

.prev-button,
.next-button {
  margin-right: 10px;
}

.filter-button {
  margin-bottom: 15px;
}

.postcode-lookup button,
.filter-button,
.prev-button,
.next-button {
  padding: 12px 20px;
  background-color: #ff8000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.postcode-lookup button:hover,
.filter-button:hover,
.prev-button:hover,
.next-button:hover {
  background-color: #e67e00;
}

.no-results-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 83px);
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  padding: 20px;
}

.filters-column {
  width: 25%;
  padding-right: 20px;
}

.restaurant-listing {
  width: 75%;
}

.restaurant-item {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.restaurant-item {
  display: flex;
}

.restaurant-item img {
  border-radius: 5px;
  padding-right: 30px;
}

.restaurant-item h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.restaurant-item .ratings {
  margin-bottom: 10px;
  color: #555;
}

.restaurant-item .details {
  font-size: 14px;
  color: #888;
}

.cuisines,
.opening-time {
  font-style: normal;
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.filter-options .filter-option {
  display: block;
  margin-bottom: 10px;
}

.filters-icon {
  width: 20px;
  height: auto;
  margin-right: 0.5em;
}

.filter-heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
